
/* Style global pour s'assurer que la carte prend toute la hauteur/la largeur */
body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style sur l'img pour éviter l'espace blanc */
.buttonHome img {
    display: block;
}

.buttonHome {
    position: fixed;
    top: 20px;
    left: 60px;
    z-index: 1000;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;

    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* code réutilisé qui vient de accueil.css pour l'animation du bouton */
.buttonHome:hover {
  background: #942968;
  box-shadow: inset 0 0 200px #942968, 0 0 20px #942968;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #ffffff; 
}